body {
    font-family: Arial, sans-serif;
    background-image: url('img/Dogs_Cats_Rabbits_Birds_White_background_Puppy_562489_3840x2160.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white; /* Muda a cor do texto para branco para melhor contraste */
}

.container {
    background-color: rgba(255, 255, 255, 0.772); /* Fundo branco semi-transparente */
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color: black;
}

h1 {
    text-align: center;
    color: black
}

.input-group {
    margin-bottom: 15px;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
